.align-label-right {
    text-align: right;
}

.align-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.align-button-center {
    text-align: center;
}

.row-space {
    margin-bottom: 10px;
}

.login-block {
    padding: 250px 550px;
    text-align: center;
}

.error-msg {
    color: red;
}

.center-align {
    max-width: 500px;
    float: none;
    width: 100%;
    margin: 200px auto 0 auto;
    border: 2px solid #ccc;
    padding: 30px;
    box-sizing: border-box;
}

.project-container {
    padding: 0px 100px;
}

.bottom-footer {
    position: fixed;
    bottom: 0;
    background-color: #EDECEC;
    margin: 0 auto;
}

div.ag-cell-no-focus .ag-cell .ag-cell-not-inline-editing .ag-cell-value .ng-scope {
    text-align: center;
}

.fullheight {
    min-height: 940px;
}

.main-class .ag-cell {
    text-align: center;
}

.div-spacing {
    margin-top: 100px;
}

.button-spacing {
    margin-top: 20px;
}

/*custom loader code*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    z-index: 2001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

@keyframes spin {
    0% { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 2000; /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right { /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden; /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
    transition: all 0.3s 1s ease-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0); /*dim the background*/
    margin-left: 90%;
}

.pdf-border {
    border: solid;
    padding: 30px;
    height: 900px;
}

/*image upload css*/

.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
}

    .inputDnD .form-control-file:before {
        content: attr(data-title);
        position: absolute;
        top: 0.5em;
        left: 0;
        width: 100%;
        min-height: 6em;
        line-height: 2em;
        padding-top: 1.5em;
        opacity: 1;
        visibility: visible;
        text-align: center;
        border: 0.25em dashed currentColor;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        overflow: hidden;
    }

    .inputDnD .form-control-file:hover:before {
        border-style: solid;
        box-shadow: inset 0px 0px 0px 0.25em currentColor;
    }

body {
    background-color: #f7f7f9;
}
