<div class="container" ng-if="!busyGettingData">
    <h1>Item Details</h1>
    <form>
        <div class="col-sm-12">
            <div class="col-sm-6">
                <h3>Core Details</h3>
                <div class="form-group">
                    <label>* Item Name</label> <input class="form-control" type="text" ng-model="item.ItemName" required>
                </div>

                <div class="form-group">
                    <label>* Item #</label> <input class="form-control" type="text" ng-model="item.ItemId">
                </div>

                <div class="form-group"> <label>Area</label> <input class="form-control" type="text" ng-model="item.Area" required></div>

                <div class="form-group">  <label>Classification</label><input class="form-control" type="text" ng-model="item.Classification" ></div>

                <div class="form-group">  <label>Qty Method</label> <label>Project is active&nbsp;&nbsp;</label>
                <label><input type="radio" ng-model="item.QtyMethod" value="Distribution">Distribution</label>
                <label><input type="radio" ng-model="item.QtyMethod" value="Manual">Manual</label>

                <div class="form-group">  <label>Estimated Qty</label><input class="form-control" type="number" ng-model="item.EstimatedQty"></div>
                <div class="form-group">  <label>Distributed Qty</label><input class="form-control" type="number" ng-model="item.DistributedQty"></div>

                <div class="form-group">  <label>Unit of Measure</label><input class="form-control" type="text" ng-model="item.UnitOfMeasure"></div>
                <div class="form-group">  <label>Item Type</label><input class="form-control" type="text" ng-model="item.ItemType"></div>
                <div class="form-group">  <label>Category</label><input class="form-control" type="text" ng-model="item.Category"></div>
                <div class="form-group">  <label>Estimated Unit Cost</label><input class="form-control" type="number" ng-model="item.EstimatedUnitCost"></div>
                
                    <div class="form-group">  <label>Estimated Markup</label><input class="form-control" type="number" ng-model="item.EstimatedMarkup"></div>
                    <div class="form-group">  <label>Estimated Markup Amount</label><input class="form-control" type="number" ng-model="item.EstimatedMarkupAmount"></div>
                <div class="form-group">  <label>Total Sell Price</label><input class="form-control" type="number" ng-model="item.TotalSellPrice"></div>
                
            </div>
                </div>

            <div class="col-sm-6">
                <h3>User Definable Terms</h3>
                <div class="content" ng-drop-image ng-model="item.Image">
                    <img height = "500" width="500"  ng-src="{{item.Image}}" />
                </div>
                <!--<div class="row m-b-1">
                    <div class="col-sm-6 offset-sm-3">
                        <button type="button" class="btn btn-primary btn-block" onclick="document.getElementById('inputFile').click()">Add Image</button>
                        <div class="form-group inputDnD">
                            <label class="sr-only" for="inputFile">File Upload</label>
                            <input style="background-image:{{item.Image}}" type="file" ng-model="item.Image" class="form-control-file text-primary font-weight-bold" id="inputFile" accept="image/*" ng-change="readUrl(this)" data-title="Drag and drop a file">
                           
                            <img height="500" width="500" ng-src="{{iteimgData}}" />
                        </div>
                    </div>
                </div>-->

            </div>
            
        </div>

        <div class="col-sm-12">
            <div class="col-sm-6">
                <h3>Additional Information</h3>
                <div class="form-group">
                    <label>*Model #</label> <input class="form-control" type="text" ng-model="item.ModelNumber" >
                </div>
                <div class="form-group">
                    <label>Finish</label> <input class="form-control" type="text" ng-model="item.Finish" >
                </div>
                <div class="form-group">
                    <label>Color</label> <input class="form-control" type="text" ng-model="item.Color" >
                </div>
                <div class="form-group">
                    <label>Dimension</label> <input class="form-control" type="text" ng-model="item.Dimension" >
                </div>

                <div class="form-group">
                    <label>Pattern</label> <input class="form-control" type="text" ng-model="item.Pattern" >
                </div>
                <div class="form-group">
                    <label>Content</label> <input class="form-control" type="text" ng-model="item.Content" >
                </div>
                <div class="form-group">
                    <label>Width</label> <input class="form-control" type="text" ng-model="item.Width" >
                </div>
                <div class="form-group">
                    <label>Repeat</label> <input class="form-control" type="text" ng-model="item.Repeat" >
                </div>

            </div>

            <div class="col-sm-6">
                <h3>Optional Fields</h3>
                <div class="form-group">
                    <label>Codification</label> <input class="form-control" type="text" ng-model="item.Codification">
                </div>
                <div class="form-group">
                    <label>Item Detail</label> <input class="form-control" type="text" ng-model="item.ItemDetail">
                </div>
                <div class="form-group">
                    <label>Item URL</label> <input class="form-control" type="text" ng-model="item.ItemURL">
                </div>
                <div class="form-group">
                    <label>Vendor Item Name</label> <input class="form-control" type="text" ng-model="item.VendorItemName">
                </div>

                <div class="form-group">
                    <label>Invoice Description</label> <input class="form-control" type="text" ng-model="item.InvoiceDescription">
                </div>
                <div class="form-group">
                    <label>Sidemark</label> <input class="form-control" type="text" ng-model="item.Sidemark">
                </div>
                <div class="form-group">
                    <label>Include in Materials Report</label> <input class="form-control" type="text" ng-model="item.IsIncludeInMaterialsReport">
                </div>
                <div class="form-group">
                    <label>Material Ref. Notes</label> <input class="form-control" type="text" ng-model="item.MaterialRefNotes">
                </div>

            </div>

       </div>

            <div class="form-group">
                <div>
                    <input type="submit" ng-click="saveItem()" class="btn btn-primary button-spacing" value="Save">
                </div>
            </div>
</form>
    <div ng-if="!isAddFlow" class="alert alert-success" role="alert">Click <a ng-href="#/project">here</a> go back to project screen</div>
</div>