<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">DesignSmart</a>
            </div>
            <ul style="width: 80%;" class="nav navbar-nav">
                <li class="active"><a href="#">Projects</a></li>

                <li class="pull-right"><a ng-click="signOut()">Sign Out</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
<h1>Project Item Details</h1>

<a ng-href="#/addItem?projectId={{projectId}}"> <i class="fa fa-plus" aria-hidden="true"> Add New Item </i></a>

<div ag-grid="gridOptions" class="main-class ag-fresh" style="width: 100%; height: 250px;"></div>
</div>